@model smart_table.Models.Discounts

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Discounts</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountProc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountProc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
