@model smart_table.Models.Menus

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Menus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Mon" /> @Html.DisplayNameFor(model => model.Mon)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tue" /> @Html.DisplayNameFor(model => model.Tue)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Wed" /> @Html.DisplayNameFor(model => model.Wed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Thu" /> @Html.DisplayNameFor(model => model.Thu)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Fri" /> @Html.DisplayNameFor(model => model.Fri)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sat" /> @Html.DisplayNameFor(model => model.Sat)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Sun" /> @Html.DisplayNameFor(model => model.Sun)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TimeFrom" class="control-label"></label>
                <input asp-for="TimeFrom" class="form-control" />
                <span asp-validation-for="TimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeUntil" class="control-label"></label>
                <input asp-for="TimeUntil" class="form-control" />
                <span asp-validation-for="TimeUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input asp-for="DateFrom" class="form-control" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateUntil" class="control-label"></label>
                <input asp-for="DateUntil" class="form-control" />
                <span asp-validation-for="DateUntil" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
