@model IEnumerable<smart_table.Models.MenuDishes>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Meniu";
}

<h3>
    @ViewData["message"]
</h3>
@foreach (var item in Model)
{

    @if ((item.FkMenusNavigation.TimeFrom <= DateTime.Now.TimeOfDay && item.FkMenusNavigation.TimeUntil >= DateTime.Now.TimeOfDay)
   || item.FkMenusNavigation.TimeFrom == null || item.FkMenusNavigation.TimeUntil == null)
    {
        double discountedPrice = Math.Round((double)(item.FkDishesNavigation.Price - (item.FkDishesNavigation.Price * (item.FkDishesNavigation.Discount / 100))), 2);
        <div class="py-md-1" style="text-align:-webkit-center;">
            <div class="card card-width" style="text-align:justify;">
                <a class="card-body card-link" asp-controller="Dish" asp-action="openDishView" asp-route-id="@item.FkDishesNavigation.Id">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.FkDishesNavigation.Title)</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.FkDishesNavigation.Description)</h6>
                    @if (item.FkDishesNavigation.Discount != 0)
                    {
                        <span class="card-text text-danger">€@discountedPrice</span><span class="text-black-50" style="padding-left:1rem;"><del>@Html.DisplayFor(modelItem => item.FkDishesNavigation.Price)</del></span>
                    }
                    else
                    {
                        <p class="card-text text-primary">€@Html.DisplayFor(modelItem => item.FkDishesNavigation.Price)</p>
                    }
                </a>
            </div>
        </div>
    }
}
