@model smart_table.Models.Dishes
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Detali informacija";
}

@{ 
    double discountedPrice = Math.Round((double)(Model.Price - (Model.Price * (Model.Discount / 100))), 2);
}


    <h3>@Html.DisplayFor(model => model.Title) patiekalo informacija</h3>

    <div style="text-align:-webkit-center;">
        <div class="card card-width" style="text-align:justify;">
            <h5 class="card-header py-md-4">@Html.DisplayFor(modelItem => modelItem.Title)</h5>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => modelItem.Description)</h6>
                <p class="card-text">Kalorijos: @Html.DisplayFor(modelItem => modelItem.Calories)</p>
                <p class="card-text">Ingridientai: Skanus</p>
                @if (Model.Discount != 0)
                {
                    <p class="card-text text-danger">€@discountedPrice<span class="text-black-50 px-sm-3"><del>@Html.DisplayFor(modelItem => modelItem.Price)</del></span></p>
                }
                else
                {
                    <p class="card-text text-primary">€@Html.DisplayFor(modelItem => modelItem.Price)</p>
                }
                <a class="btn btn-primary" asp-controller="ManageOrder" asp-action="openOrderDishForm" asp-route-id="@Model.Id">Įtraukti prekę į užsakymą</a>
                <a class="btn btn-secondary" asp-controller="Menu" asp-action="openMainMenuView" class="card-link">Grįžti atgal</a>
            </div>
        </div>
    </div>