@model IEnumerable<smart_table.Models.Orders>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Užsakymų valdymas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FkBillsNavigation.FkCustomerTablesNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submitted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Served)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkRegisteredUsersNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        if (item.FkBillsNavigation != null)
                        {
                            @Html.DisplayFor(modelItem => item.FkBillsNavigation.FkCustomerTables)
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Submitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Served)
                </td>
                <td>
                    @{
                        if (item.FkRegisteredUsersNavigation != null)
                        {
                            <div>@item.FkRegisteredUsersNavigation.Name @item.FkRegisteredUsersNavigation.Surname</div>
                        }
                    }

                </td>
                <td>
                    <a class="btn btn-primary" asp-action="OpenOrderView" asp-route-id="@item.Id">Peržiūrėti</a>
                </td>
            </tr>
        }
    </tbody>
</table>
