@model IEnumerable<smart_table.Models.CustomerTables>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Stalų peržiūra</h1>
<h3>@ViewData["message"]</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsTaken)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTaken)
                </td>
                <td>
                    <a asp-controller="UnlockTable" asp-action="UnlockTable" asp-route-id="@item.Id">Atrakinti</a> |
                    <a asp-controller="AssignTable" asp-action="AssignTable" asp-route-id="@item.Id">Prisiskirti</a> |
                    <a asp-controller="QrCodeStaff" asp-action="downloadQrCode" asp-route-id="@item.Id">QR kodas</a>
                </td>
                @*<td>
                    @{
                        if (item. != null)
                        {
                            <h3>QR Code Successfully Generated</h3>
                            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model))" />
                        }
                    }
                </td>*@
            </tr>
        }
    </tbody>
</table>
