@using smart_table.Models;
@model Tuple<List<CustomerTables>, Byte[]>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Vietų skaičius
            </th>
            <th>
                Užimtas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeatsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsTaken)
                </td>
                <td>
                    <a asp-controller="UnlockTable" asp-action="UnlockTable" asp-route-id="@item.Id">Atrakinti</a> |
                    <a asp-controller="AssignTable" asp-action="AssignTable" asp-route-id="@item.Id">Prisiskirti</a> |
                    <a asp-controller="QrCodeStaff" asp-action="downloadQrCode" asp-route-id="@item.Id">QR kodas</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    @if (Model.Item2 != null)
    {
        <a hidden id="download-file" href="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Item2))" download="stalo-QR-kodas">
            <img hidden style="width:20px; height:20px;" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Item2))" />
        </a>
    }

    <script>
        var a = document.getElementById("download-file");
        a.click();
    </script>
}